/* ==========================================================================
   #DEMO
   ========================================================================== */

$gap: 30px;

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  padding: $gap;
}

h1 {
  margin-top: 0;
}

.o-grid {
  display: block;
  margin-left: -$gap;
  margin-bottom: -$gap;
  font-size: 0;
}

.o-grid__item {
  display: inline-block;
  width: 100%;
  padding-bottom: $gap;
  padding-left: $gap;
  font-size: 16px;
}

@media (min-width: 768px) {
  .o-grid__item {
    width: 50%;
  }
}

.c-nav {
  display: block;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.c-nav__item {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
}


.c-nav__link {
  display: block;
  padding: 5px 15px;
  color: #000;
  background-color: #eee;
  text-decoration: none;
}

