/* ==========================================================================
   #YOUTUBE_PLAY
   ========================================================================== */

/**
 * @source https://github.com/paulirish/lite-youtube-embed/blob/master/src/lite-yt-embed.css
 */

.c-youtube-play {
  display: inline-block;
  width: 68px;
  height: 48px;
  /* YT's actual play button svg, moved to the html to support IE */
  filter: grayscale(100%);
  transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
}

.o-video-player:hover .c-youtube-play {
  filter: none;
}
